In [1]:
import pandas as pd

# 합친 데이터를 저장할 데이터프레임
data = pd.DataFrame(data=[], columns=['맥주정보', '검색이름', '맥주이름'])

# 수집한 파일의 개수
files_cnt = 75

for i in range(files_cnt):

    # 해당 경로에서 beer_n_1.csv 형식의 파일들만 수집한 뒤 병합합니다.
    try : 
        tmp = pd.read_csv(r'C:\Users\심준현\beer_n_'+str(i)+'.csv', index_col=0)
        data = pd.concat([data,tmp])
    # 오류 발생 시 넘어갑니다.
    except :
        print(i, '번째에서 오류가 발생했습니다. 다음 파일로 넘어갑니다.')

# 합친 데이터를 저장합니다.
data.to_csv('전처리전데이터.csv', encoding='utf-8')

31 번째에서 오류가 발생했습니다. 다음 파일로 넘어갑니다.
69 번째에서 오류가 발생했습니다. 다음 파일로 넘어갑니다.

In [1]:
import pandas as pd

data = pd.read_csv('전처리전데이터.csv', encoding='utf-8', index_col=0)

data = data[['맥주이름', '맥주정보']]

data.head()

                     맥주이름                                               맥주정보
0  Kloud Original Gravity  vinivini(9,604)\n🇧🇾Homiel, Belarus\n2.9Decembe...
1  Kloud Original Gravity  italianjohn(5,524)\n🇺🇸Penndel, United States\n...
2  Kloud Original Gravity  orda(297)\n🇺🇸Aurora, United States\n3.9August ...
3  Kloud Original Gravity  Radek Kliber(8,125)\n🇨🇦Toronto (Can) Krotoszyn...
4  Kloud Original Gravity  geologyguy(2,602)\n🇺🇸Columbia, United States\n...

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76015 entries, 0 to 4240
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   맥주이름    76015 non-null  object
 1   맥주정보    76015 non-null  object
dtypes: object(2)
memory usage: 1.7+ MB

In [7]:
data['맥주정보'].iloc[0]

'vinivini(9,604)\n🇧🇾Homiel, Belarus\n2.9December 29, 2022\nStraight from the can.\nClean, malty, bready & grassy. Light sweet, light to medium bitter.…\nShow more\nCAN\nAroma\n5\nAppearance\n4\nFlavor\n6\nMouthfeel\n4\nOverall\n10'

아이디\n거주지역\n날짜\n평가 코멘트\n 등등

In [10]:
# data 복제
tmp = data.copy()

# 맥주정보 \n 기준으로 분리하기
tmp['맥주정보'] = tmp['맥주정보'].str.split('\n')
tmp['맥주정보']

0       [vinivini(9,604), 🇧🇾Homiel, Belarus, 2.9Decemb...
1       [italianjohn(5,524), 🇺🇸Penndel, United States,...
2       [orda(297), 🇺🇸Aurora, United States, 3.9August...
3       [Radek Kliber(8,125), 🇨🇦Toronto (Can) Krotoszy...
4       [geologyguy(2,602), 🇺🇸Columbia, United States,...
                              ...
4236    [Jimmylib(169), 🇺🇸old bridge, United States, 2...
4237    [Aubrey(3,516), 🇺🇸Bellingham, United States, 2...
4238    [wade(59), 🇺🇸Decatur, United States, 1.9May 24...
4239    [redwitching99(15), 🇺🇸st. augustine, United St...
4240    [roland(38), 🇺🇸Bellevue, United States, 3.0May...
Name: 맥주정보, Length: 76015, dtype: object

In [11]:
# 분리된 스트링 값 확인 -> List로 변환됨
tmp['맥주정보'].iloc[0]

['vinivini(9,604)',
 '🇧🇾Homiel, Belarus',
 '2.9December 29, 2022',
 'Straight from the can.',
 'Clean, malty, bready & grassy. Light sweet, light to medium bitter.…',
 'Show more',
 'CAN',
 'Aroma',
 '5',
 'Appearance',
 '4',
 'Flavor',
 '6',
 'Mouthfeel',
 '4',
 'Overall',
 '10']

In [12]:
# 특이점 확인 : 0,1,2,3번째 리스트 요소까지 잘라야함.
for i in range(75252, 75255):
    print(tmp['맥주정보'].iloc[i], '\n')

['Crockett(1,164)', '🇨🇦Southampton, Canada', '1.5January 29, 2004', 'Tap pour. Clear, and virtually without carbonation. Little to no aroma. At least nothing stands out. It smells somewhat like beer. It also smells somewhat like nothing. Used to fill out…', 'Show more', 'Aroma', '2', 'Appearance', '2', 'Flavor', '3', 'Mouthfeel', '2', 'Overall', '6']

['piscator34(3,598)', '🇨🇦Winnipeg, Canada', '2.1January 28, 2004', 'Hoppy... similar to Becks, but with a bit less favour. Light yellow in colour, and not much head. I liked this beer when I was younger, but now I feel like I (along with my taste buds)…', 'Show more', 'Aroma', '4', 'Appearance', '2', 'Flavor', '4', 'Mouthfeel', '2', 'Overall', '9']

['jollyraider(252)', '🇺🇸Los Angeles, United States', '2.0January 28, 2004', 'Not too bad. Despite what others say, preferable to a lot of beer you seen at college.  I liked the bit of bite.  Drink it cold to avoid the skunk.', 'Aroma', '3', 'Appearance', '2', 'Flavor', '4', 'Mouthfeel', '2', 'Overall', '9']

In [85]:
# 새로운 데이터 프레임 ttmp에 copy()후 전처리 하겠습니다.
ttmp = tmp.copy()
# 맥주정보 리스트 출력 : 좋아요 수가 기록된 유저 정보
ttmp['맥주정보'].iloc[10]

['GuideDogSaint(3,477)',
 '🇨🇳Xiamen, China',
 '2.2February 8, 2020',
 'Small can from a supermarket in Phnom Penh. Pours golden yellow with a dissipating white head. Aroma of malt. Hint of lemon in the sweet taste. Sweet finish.',
 'Aroma',
 '4',
 'Appearance',
 '2',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall',
 '9']

In [86]:
# 전체 데이터프레임에서 좋아요가 1개인 것 찾아서 맨 뒤에 것 삭제
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x : x if x[-2]=='Overall' else x[:-1])

In [89]:
# 맥주정보에서 0,1,2,3번째 리스트 요소와 뒤에서부터 10개의 리스트요소(평점값들)추출
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x : x[:4]+x[:-11:-1])
ttmp = ttmp[ttmp['맥주정보'].str.len() >= 10]

In [90]:
# 맨 첫번째 리스트 요소에 ID 저장
# 그 뒤로는 뒤에서부터 각 평가값 저장
ttmp['ID'] = ttmp['맥주정보'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['맥주정보'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['맥주정보'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['맥주정보'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['맥주정보'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['맥주정보'].apply(lambda x: x[-10])

# 리스트의 1,2,3번째 요소만(평점날짜 or 이상한 값) 뽑아오기
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x:x[1:4])
ttmp['길이'] = ttmp['맥주정보'].apply(lambda x:len(x))

# 결과 확인
ttmp.head(3)

,맥주이름,맥주정보,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,길이
0,Kloud Original Gravity,"[🇧🇾Homiel, Belarus, 2.9December 29, 2022, Stra...","vinivini(9,604)",5,4,6,4,10,3
1,Kloud Original Gravity,"[🇺🇸Penndel, United States, 2.8September 6, 202...","italianjohn(5,524)",5,3,5,3,12,3
2,Kloud Original Gravity,"[🇺🇸Aurora, United States, 3.9August 29, 2021, ...",orda(297),10,5,10,5,9,3

In [91]:
ttmp = ttmp[['맥주이름', '맥주정보', '길이', 'ID', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall']]

In [92]:
ttmp.head(3)

,맥주이름,맥주정보,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,"[🇧🇾Homiel, Belarus, 2.9December 29, 2022, Stra...",3,"vinivini(9,604)",5,4,6,4,10
1,Kloud Original Gravity,"[🇺🇸Penndel, United States, 2.8September 6, 202...",3,"italianjohn(5,524)",5,3,5,3,12
2,Kloud Original Gravity,"[🇺🇸Aurora, United States, 3.9August 29, 2021, ...",3,orda(297),10,5,10,5,9

In [93]:
import re

# ex) 4.0December 28, 2020 추출
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [94]:
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x: x[0] if reg.match(x[0]) else 
                                  (x[1] if reg.match(x[1]) else x[2]))

# 결과 확인
ttmp.head()

,맥주이름,맥주정보,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,"2.9December 29, 2022",3,"vinivini(9,604)",5,4,6,4,10
1,Kloud Original Gravity,"2.8September 6, 2021",3,"italianjohn(5,524)",5,3,5,3,12
2,Kloud Original Gravity,"3.9August 29, 2021",3,orda(297),10,5,10,5,9
3,Kloud Original Gravity,"2.4June 5, 2021",3,"Radek Kliber(8,125)",6,3,4,2,9
4,Kloud Original Gravity,"2.3May 26, 2021",3,"geologyguy(2,602)",4,3,4,3,9

In [95]:
# 평점은 0번째부터 3번째, 날짜는 그 이후 문자열로 처리
ttmp['평점'] = ttmp['맥주정보'].apply(lambda x : x[:3])
ttmp['날짜'] = ttmp['맥주정보'].apply(lambda x : x[3:])

ttmp.head(3)

,맥주이름,맥주정보,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,평점,날짜
0,Kloud Original Gravity,"2.9December 29, 2022",3,"vinivini(9,604)",5,4,6,4,10,2.9,"December 29, 2022"
1,Kloud Original Gravity,"2.8September 6, 2021",3,"italianjohn(5,524)",5,3,5,3,12,2.8,"September 6, 2021"
2,Kloud Original Gravity,"3.9August 29, 2021",3,orda(297),10,5,10,5,9,3.9,"August 29, 2021"

In [100]:
# 컬럼명 변경
ttmp.columns = ['맥주', '맥주정보', '길이', '아이디', 'Aroma', 'Appearance', 'Flavor','Mouthfeel', 'Overall', '평점', '날짜']

# 필요한 컬럼만 추출
ttmp = ttmp[['아이디', '맥주', '날짜', '평점', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall']]

ValueError: Length mismatch: Expected axis has 9 elements, new values have 11 elements

In [135]:
ttmp_c = ttmp.copy()

In [131]:
ttmp_c.평점.unique()

array(['2.9', '2.8', '3.9', '2.4', '2.3', '1.0', '4.0', '2.0', '3.0',
       '2.2', '3.2', '2.7', '2.5', '1.5', '3.1', '2.6', '1.7', '1.8',
       '0.5', '1.6', '1.9', '2.1', '0.9', '1.3', '0.8', '1.1', '5.0',
       '0.7', '4.7', '0.6', '3.3', '1.4', '3.6', '3.4', '3.5', '3.8',
       '3.7', '1.2', '4.5', '4.3', '4.2', '4.6', '4.1', '4.4', '4.8',
       '4.9'], dtype=object)

In [136]:
# 세부 리뷰 값이 '-'가 아닌 데이터만 저장
ttmp_c = ttmp_c[~ttmp_c['평점'].isin(['0Ma', '0Ja', '0De', '0Oc'])]

In [137]:
ttmp_c = ttmp_c[ttmp_c['Aroma'].isin(['5', '10', '6', '4','1','9','3','7','2','8'])]

In [138]:
ttmp_c = ttmp_c[ttmp_c['Appearance'].isin(['5', '10', '6', '4','1','9','3','7','2','8'])]

In [139]:
ttmp_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73975 entries, 0 to 4240
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   아이디         73975 non-null  object
 1   맥주          73975 non-null  object
 2   날짜          73975 non-null  object
 3   평점          73975 non-null  object
 4   Aroma       73975 non-null  object
 5   Appearance  73975 non-null  object
 6   Flavor      73975 non-null  object
 7   Mouthfeel   73975 non-null  object
 8   Overall     73975 non-null  object
dtypes: object(9)
memory usage: 5.6+ MB

In [140]:
# 수치형 데이터는 실수로 변환 : pd.to_numeric() 함수 사용
ttmp_c['평점'] = pd.to_numeric(ttmp_c['평점'])
ttmp_c['Aroma'] = pd.to_numeric(ttmp_c['Aroma'])
ttmp_c['Appearance'] = pd.to_numeric(ttmp_c['Appearance'])
ttmp_c['Flavor'] = pd.to_numeric(ttmp_c['Flavor'])
ttmp_c['Mouthfeel'] = pd.to_numeric(ttmp_c['Mouthfeel'])
ttmp_c['Overall'] = pd.to_numeric(ttmp_c['Overall'])
# 중복된 행들을 제거합니다.
ttmp_c.drop_duplicates(keep='first', inplace=True)

# 최종 데이터 확인
ttmp_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69205 entries, 0 to 4222
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   아이디         69205 non-null  object
 1   맥주          69205 non-null  object
 2   날짜          69205 non-null  object
 3   평점          69205 non-null  float64
 4   Aroma       69205 non-null  int64
 5   Appearance  69205 non-null  int64
 6   Flavor      69205 non-null  int64
 7   Mouthfeel   69205 non-null  int64
 8   Overall     69205 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 5.3+ MB

In [141]:
ttmp_c.describe()

,평점,Aroma,Appearance,Flavor,Mouthfeel,Overall
count,69205.000000,69205.000000,69205.000000,69205.000000,69205.000000,69205.000000
mean,2.646369,4.880775,3.105729,5.204263,2.805520,10.467105
std,0.929669,1.996946,1.057979,1.986474,0.976336,4.227437
min,0.500000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,3.000000,2.000000,4.000000,2.000000,8.000000
50%,2.700000,5.000000,3.000000,5.000000,3.000000,11.000000
75%,3.300000,6.000000,4.000000,7.000000,3.000000,14.000000
max,5.000000,10.000000,5.000000,10.000000,5.000000,20.000000

In [134]:
ttmp_c.to_csv('전처리후데이터.csv', encoding='utf-8')