In [1]:
import pandas as pd

# í•©ì¹œ ë°ì´í„°ë¥¼ ì €ì¥í•  ë°ì´í„°í”„ë ˆì„
data = pd.DataFrame(data=[], columns=['ë§¥ì£¼ì •ë³´', 'ê²€ìƒ‰ì´ë¦„', 'ë§¥ì£¼ì´ë¦„'])

# ìˆ˜ì§‘í•œ íŒŒì¼ì˜ ê°œìˆ˜
files_cnt = 75

for i in range(files_cnt):

    # í•´ë‹¹ ê²½ë¡œì—ì„œ beer_n_1.csv í˜•ì‹ì˜ íŒŒì¼ë“¤ë§Œ ìˆ˜ì§‘í•œ ë’¤ ë³‘í•©í•©ë‹ˆë‹¤.
    try : 
        tmp = pd.read_csv(r'C:\Users\ì‹¬ì¤€í˜„\beer_n_'+str(i)+'.csv', index_col=0)
        data = pd.concat([data,tmp])
    # ì˜¤ë¥˜ ë°œìƒ ì‹œ ë„˜ì–´ê°‘ë‹ˆë‹¤.
    except :
        print(i, 'ë²ˆì§¸ì—ì„œ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆìŠµë‹ˆë‹¤. ë‹¤ìŒ íŒŒì¼ë¡œ ë„˜ì–´ê°‘ë‹ˆë‹¤.')

# í•©ì¹œ ë°ì´í„°ë¥¼ ì €ì¥í•©ë‹ˆë‹¤.
data.to_csv('ì „ì²˜ë¦¬ì „ë°ì´í„°.csv', encoding='utf-8')

31 ë²ˆì§¸ì—ì„œ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆìŠµë‹ˆë‹¤. ë‹¤ìŒ íŒŒì¼ë¡œ ë„˜ì–´ê°‘ë‹ˆë‹¤.
69 ë²ˆì§¸ì—ì„œ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆìŠµë‹ˆë‹¤. ë‹¤ìŒ íŒŒì¼ë¡œ ë„˜ì–´ê°‘ë‹ˆë‹¤.

In [1]:
import pandas as pd

data = pd.read_csv('ì „ì²˜ë¦¬ì „ë°ì´í„°.csv', encoding='utf-8', index_col=0)

data = data[['ë§¥ì£¼ì´ë¦„', 'ë§¥ì£¼ì •ë³´']]

data.head()

                     ë§¥ì£¼ì´ë¦„                                               ë§¥ì£¼ì •ë³´
0  Kloud Original Gravity  vinivini(9,604)\nğŸ‡§ğŸ‡¾Homiel, Belarus\n2.9Decembe...
1  Kloud Original Gravity  italianjohn(5,524)\nğŸ‡ºğŸ‡¸Penndel, United States\n...
2  Kloud Original Gravity  orda(297)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...
3  Kloud Original Gravity  Radek Kliber(8,125)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...
4  Kloud Original Gravity  geologyguy(2,602)\nğŸ‡ºğŸ‡¸Columbia, United States\n...

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76015 entries, 0 to 4240
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ë§¥ì£¼ì´ë¦„    76015 non-null  object
 1   ë§¥ì£¼ì •ë³´    76015 non-null  object
dtypes: object(2)
memory usage: 1.7+ MB

In [7]:
data['ë§¥ì£¼ì •ë³´'].iloc[0]

'vinivini(9,604)\nğŸ‡§ğŸ‡¾Homiel, Belarus\n2.9December 29, 2022\nStraight from the can.\nClean, malty, bready & grassy. Light sweet, light to medium bitter.â€¦\nShow more\nCAN\nAroma\n5\nAppearance\n4\nFlavor\n6\nMouthfeel\n4\nOverall\n10'

ì•„ì´ë””\nê±°ì£¼ì§€ì—­\në‚ ì§œ\ní‰ê°€ ì½”ë©˜íŠ¸\n ë“±ë“±

In [10]:
# data ë³µì œ
tmp = data.copy()

# ë§¥ì£¼ì •ë³´ \n ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬í•˜ê¸°
tmp['ë§¥ì£¼ì •ë³´'] = tmp['ë§¥ì£¼ì •ë³´'].str.split('\n')
tmp['ë§¥ì£¼ì •ë³´']

0       [vinivini(9,604), ğŸ‡§ğŸ‡¾Homiel, Belarus, 2.9Decemb...
1       [italianjohn(5,524), ğŸ‡ºğŸ‡¸Penndel, United States,...
2       [orda(297), ğŸ‡ºğŸ‡¸Aurora, United States, 3.9August...
3       [Radek Kliber(8,125), ğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszy...
4       [geologyguy(2,602), ğŸ‡ºğŸ‡¸Columbia, United States,...
                              ...
4236    [Jimmylib(169), ğŸ‡ºğŸ‡¸old bridge, United States, 2...
4237    [Aubrey(3,516), ğŸ‡ºğŸ‡¸Bellingham, United States, 2...
4238    [wade(59), ğŸ‡ºğŸ‡¸Decatur, United States, 1.9May 24...
4239    [redwitching99(15), ğŸ‡ºğŸ‡¸st. augustine, United St...
4240    [roland(38), ğŸ‡ºğŸ‡¸Bellevue, United States, 3.0May...
Name: ë§¥ì£¼ì •ë³´, Length: 76015, dtype: object

In [11]:
# ë¶„ë¦¬ëœ ìŠ¤íŠ¸ë§ ê°’ í™•ì¸ -> Listë¡œ ë³€í™˜ë¨
tmp['ë§¥ì£¼ì •ë³´'].iloc[0]

['vinivini(9,604)',
 'ğŸ‡§ğŸ‡¾Homiel, Belarus',
 '2.9December 29, 2022',
 'Straight from the can.',
 'Clean, malty, bready & grassy. Light sweet, light to medium bitter.â€¦',
 'Show more',
 'CAN',
 'Aroma',
 '5',
 'Appearance',
 '4',
 'Flavor',
 '6',
 'Mouthfeel',
 '4',
 'Overall',
 '10']

In [12]:
# íŠ¹ì´ì  í™•ì¸ : 0,1,2,3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œê¹Œì§€ ì˜ë¼ì•¼í•¨.
for i in range(75252, 75255):
    print(tmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n')

['Crockett(1,164)', 'ğŸ‡¨ğŸ‡¦Southampton, Canada', '1.5January 29, 2004', 'Tap pour. Clear, and virtually without carbonation. Little to no aroma. At least nothing stands out. It smells somewhat like beer. It also smells somewhat like nothing. Used to fill outâ€¦', 'Show more', 'Aroma', '2', 'Appearance', '2', 'Flavor', '3', 'Mouthfeel', '2', 'Overall', '6']

['piscator34(3,598)', 'ğŸ‡¨ğŸ‡¦Winnipeg, Canada', '2.1January 28, 2004', 'Hoppy... similar to Becks, but with a bit less favour. Light yellow in colour, and not much head. I liked this beer when I was younger, but now I feel like I (along with my taste buds)â€¦', 'Show more', 'Aroma', '4', 'Appearance', '2', 'Flavor', '4', 'Mouthfeel', '2', 'Overall', '9']

['jollyraider(252)', 'ğŸ‡ºğŸ‡¸Los Angeles, United States', '2.0January 28, 2004', 'Not too bad. Despite what others say, preferable to a lot of beer you seen at college.  I liked the bit of bite.  Drink it cold to avoid the skunk.', 'Aroma', '3', 'Appearance', '2', 'Flavor', '4', 'Mouthfeel', '2', 'Overall', '9']

In [85]:
# ìƒˆë¡œìš´ ë°ì´í„° í”„ë ˆì„ ttmpì— copy()í›„ ì „ì²˜ë¦¬ í•˜ê² ìŠµë‹ˆë‹¤.
ttmp = tmp.copy()
# ë§¥ì£¼ì •ë³´ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥ : ì¢‹ì•„ìš” ìˆ˜ê°€ ê¸°ë¡ëœ ìœ ì € ì •ë³´
ttmp['ë§¥ì£¼ì •ë³´'].iloc[10]

['GuideDogSaint(3,477)',
 'ğŸ‡¨ğŸ‡³Xiamen, China',
 '2.2February 8, 2020',
 'Small can from a supermarket in Phnom Penh. Pours golden yellow with a dissipating white head. Aroma of malt. Hint of lemon in the sweet taste. Sweet finish.',
 'Aroma',
 '4',
 'Appearance',
 '2',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall',
 '9']

In [86]:
# ì „ì²´ ë°ì´í„°í”„ë ˆì„ì—ì„œ ì¢‹ì•„ìš”ê°€ 1ê°œì¸ ê²ƒ ì°¾ì•„ì„œ ë§¨ ë’¤ì— ê²ƒ ì‚­ì œ
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x if x[-2]=='Overall' else x[:-1])

In [89]:
# ë§¥ì£¼ì •ë³´ì—ì„œ 0,1,2,3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œì™€ ë’¤ì—ì„œë¶€í„° 10ê°œì˜ ë¦¬ìŠ¤íŠ¸ìš”ì†Œ(í‰ì ê°’ë“¤)ì¶”ì¶œ
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x[:4]+x[:-11:-1])
ttmp = ttmp[ttmp['ë§¥ì£¼ì •ë³´'].str.len() >= 10]

In [90]:
# ë§¨ ì²«ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œì— ID ì €ì¥
# ê·¸ ë’¤ë¡œëŠ” ë’¤ì—ì„œë¶€í„° ê° í‰ê°€ê°’ ì €ì¥
ttmp['ID'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-10])

# ë¦¬ìŠ¤íŠ¸ì˜ 1,2,3ë²ˆì§¸ ìš”ì†Œë§Œ(í‰ì ë‚ ì§œ or ì´ìƒí•œ ê°’) ë½‘ì•„ì˜¤ê¸°
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x:x[1:4])
ttmp['ê¸¸ì´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x:len(x))

# ê²°ê³¼ í™•ì¸
ttmp.head(3)

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,ê¸¸ì´
0,Kloud Original Gravity,"[ğŸ‡§ğŸ‡¾Homiel, Belarus, 2.9December 29, 2022, Stra...","vinivini(9,604)",5,4,6,4,10,3
1,Kloud Original Gravity,"[ğŸ‡ºğŸ‡¸Penndel, United States, 2.8September 6, 202...","italianjohn(5,524)",5,3,5,3,12,3
2,Kloud Original Gravity,"[ğŸ‡ºğŸ‡¸Aurora, United States, 3.9August 29, 2021, ...",orda(297),10,5,10,5,9,3

In [91]:
ttmp = ttmp[['ë§¥ì£¼ì´ë¦„', 'ë§¥ì£¼ì •ë³´', 'ê¸¸ì´', 'ID', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall']]

In [92]:
ttmp.head(3)

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,"[ğŸ‡§ğŸ‡¾Homiel, Belarus, 2.9December 29, 2022, Stra...",3,"vinivini(9,604)",5,4,6,4,10
1,Kloud Original Gravity,"[ğŸ‡ºğŸ‡¸Penndel, United States, 2.8September 6, 202...",3,"italianjohn(5,524)",5,3,5,3,12
2,Kloud Original Gravity,"[ğŸ‡ºğŸ‡¸Aurora, United States, 3.9August 29, 2021, ...",3,orda(297),10,5,10,5,9

In [93]:
import re

# ex) 4.0December 28, 2020 ì¶”ì¶œ
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [94]:
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[0] if reg.match(x[0]) else 
                                  (x[1] if reg.match(x[1]) else x[2]))

# ê²°ê³¼ í™•ì¸
ttmp.head()

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,"2.9December 29, 2022",3,"vinivini(9,604)",5,4,6,4,10
1,Kloud Original Gravity,"2.8September 6, 2021",3,"italianjohn(5,524)",5,3,5,3,12
2,Kloud Original Gravity,"3.9August 29, 2021",3,orda(297),10,5,10,5,9
3,Kloud Original Gravity,"2.4June 5, 2021",3,"Radek Kliber(8,125)",6,3,4,2,9
4,Kloud Original Gravity,"2.3May 26, 2021",3,"geologyguy(2,602)",4,3,4,3,9

In [95]:
# í‰ì ì€ 0ë²ˆì§¸ë¶€í„° 3ë²ˆì§¸, ë‚ ì§œëŠ” ê·¸ ì´í›„ ë¬¸ìì—´ë¡œ ì²˜ë¦¬
ttmp['í‰ì '] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x[:3])
ttmp['ë‚ ì§œ'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x[3:])

ttmp.head(3)

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,í‰ì,ë‚ ì§œ
0,Kloud Original Gravity,"2.9December 29, 2022",3,"vinivini(9,604)",5,4,6,4,10,2.9,"December 29, 2022"
1,Kloud Original Gravity,"2.8September 6, 2021",3,"italianjohn(5,524)",5,3,5,3,12,2.8,"September 6, 2021"
2,Kloud Original Gravity,"3.9August 29, 2021",3,orda(297),10,5,10,5,9,3.9,"August 29, 2021"

In [100]:
# ì»¬ëŸ¼ëª… ë³€ê²½
ttmp.columns = ['ë§¥ì£¼', 'ë§¥ì£¼ì •ë³´', 'ê¸¸ì´', 'ì•„ì´ë””', 'Aroma', 'Appearance', 'Flavor','Mouthfeel', 'Overall', 'í‰ì ', 'ë‚ ì§œ']

# í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œ
ttmp = ttmp[['ì•„ì´ë””', 'ë§¥ì£¼', 'ë‚ ì§œ', 'í‰ì ', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall']]

ValueError: Length mismatch: Expected axis has 9 elements, new values have 11 elements

In [135]:
ttmp_c = ttmp.copy()

In [131]:
ttmp_c.í‰ì .unique()

array(['2.9', '2.8', '3.9', '2.4', '2.3', '1.0', '4.0', '2.0', '3.0',
       '2.2', '3.2', '2.7', '2.5', '1.5', '3.1', '2.6', '1.7', '1.8',
       '0.5', '1.6', '1.9', '2.1', '0.9', '1.3', '0.8', '1.1', '5.0',
       '0.7', '4.7', '0.6', '3.3', '1.4', '3.6', '3.4', '3.5', '3.8',
       '3.7', '1.2', '4.5', '4.3', '4.2', '4.6', '4.1', '4.4', '4.8',
       '4.9'], dtype=object)

In [136]:
# ì„¸ë¶€ ë¦¬ë·° ê°’ì´ '-'ê°€ ì•„ë‹Œ ë°ì´í„°ë§Œ ì €ì¥
ttmp_c = ttmp_c[~ttmp_c['í‰ì '].isin(['0Ma', '0Ja', '0De', '0Oc'])]

In [137]:
ttmp_c = ttmp_c[ttmp_c['Aroma'].isin(['5', '10', '6', '4','1','9','3','7','2','8'])]

In [138]:
ttmp_c = ttmp_c[ttmp_c['Appearance'].isin(['5', '10', '6', '4','1','9','3','7','2','8'])]

In [139]:
ttmp_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73975 entries, 0 to 4240
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ì•„ì´ë””         73975 non-null  object
 1   ë§¥ì£¼          73975 non-null  object
 2   ë‚ ì§œ          73975 non-null  object
 3   í‰ì           73975 non-null  object
 4   Aroma       73975 non-null  object
 5   Appearance  73975 non-null  object
 6   Flavor      73975 non-null  object
 7   Mouthfeel   73975 non-null  object
 8   Overall     73975 non-null  object
dtypes: object(9)
memory usage: 5.6+ MB

In [140]:
# ìˆ˜ì¹˜í˜• ë°ì´í„°ëŠ” ì‹¤ìˆ˜ë¡œ ë³€í™˜ : pd.to_numeric() í•¨ìˆ˜ ì‚¬ìš©
ttmp_c['í‰ì '] = pd.to_numeric(ttmp_c['í‰ì '])
ttmp_c['Aroma'] = pd.to_numeric(ttmp_c['Aroma'])
ttmp_c['Appearance'] = pd.to_numeric(ttmp_c['Appearance'])
ttmp_c['Flavor'] = pd.to_numeric(ttmp_c['Flavor'])
ttmp_c['Mouthfeel'] = pd.to_numeric(ttmp_c['Mouthfeel'])
ttmp_c['Overall'] = pd.to_numeric(ttmp_c['Overall'])
# ì¤‘ë³µëœ í–‰ë“¤ì„ ì œê±°í•©ë‹ˆë‹¤.
ttmp_c.drop_duplicates(keep='first', inplace=True)

# ìµœì¢… ë°ì´í„° í™•ì¸
ttmp_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69205 entries, 0 to 4222
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ì•„ì´ë””         69205 non-null  object
 1   ë§¥ì£¼          69205 non-null  object
 2   ë‚ ì§œ          69205 non-null  object
 3   í‰ì           69205 non-null  float64
 4   Aroma       69205 non-null  int64
 5   Appearance  69205 non-null  int64
 6   Flavor      69205 non-null  int64
 7   Mouthfeel   69205 non-null  int64
 8   Overall     69205 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 5.3+ MB

In [141]:
ttmp_c.describe()

,í‰ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
count,69205.000000,69205.000000,69205.000000,69205.000000,69205.000000,69205.000000
mean,2.646369,4.880775,3.105729,5.204263,2.805520,10.467105
std,0.929669,1.996946,1.057979,1.986474,0.976336,4.227437
min,0.500000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,3.000000,2.000000,4.000000,2.000000,8.000000
50%,2.700000,5.000000,3.000000,5.000000,3.000000,11.000000
75%,3.300000,6.000000,4.000000,7.000000,3.000000,14.000000
max,5.000000,10.000000,5.000000,10.000000,5.000000,20.000000

In [134]:
ttmp_c.to_csv('ì „ì²˜ë¦¬í›„ë°ì´í„°.csv', encoding='utf-8')